{% extends 'admin/master.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block body %}
    <div class="header">
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="vvs_logo.png" alt="VVS Logo" height="50">
            </a>
        </div>
        <h1><a href="https://www.vasantvalley.org" target="_blank">Vasant Valley School</a></h1>
        <div class="logout">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
    <div>
       <a href="{{ url_for('home') }}"><button class="toggle-button">Create Adjudicator Form</button></a>
    </div>

    <div>
        <button class="toggle-button">Release Round</button>
        <div class="toggle-section">
            <form action="{{ url_for('release_round') }}" method="POST">
                <label for="event_name">Event Name:</label>
                <select name="event_name" id="event_name" required>
                    {% for event in events %}
                        {% if event.is_ongoing %}
                            <option value="{{ event.name }}">{{ event.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <label for="round_name">Round:</label>
                <select name="round_name" id="round_name" required>
                    {% for round in rounds %}
                        <option value="{{ round.name }}" data-event="{{ round.event }}">{{ round.name }}- {{ round.event}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Release Round">
            </form>
        </div>
    </div>
    
    <div>
        <button class="toggle-button">Create Teams</button>
        <div class="toggle-section">
            <form action="{{ url_for('create_teams') }}" method="POST">
                <label for="event_name">Event Name:</label>
                <select name="event_name" id="event_name" required>
                    {% for event in events %}
                        {% if event.is_ongoing %}
                            <option value="{{ event.name }}">{{ event.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <label for="num_teams">Number of Teams:</label>
                <input type="number" name="num_teams" id="num_teams">
                <br>
                <input type="submit" value="Create Teams">
            </form>
        </div>
    </div>

    <div>
        <button class="toggle-button">Create Draws</button>
        <div class="toggle-section">
            <form action="{{ url_for('create_draws') }}" method="POST">
                <label for="event_name">Event Name:</label>
                <select name="event_name" id="event_name" required>
                    {% for event in events %}
                        {% if event.is_ongoing %}
                            <option value="{{ event.name }}">{{ event.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <label for="round_name">Round:</label>
                <select name="round_name" id="round_name" required>
                    {% for round in rounds %}
                        <option value="{{ round.name }}" data-event="{{ round.event }}">{{ round.name }}- {{ round.event}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="num_adj">Number of Adjudicators (per pool):</label>
                <input type="number" name="num_adj" id="num_adj" required>
                <br>
                <label for="breaks">Number of Breaking Teams:</label>
                <input type="number" name="breaks" id="breaks">
                <br>
                <label for="role1">Role 1:</label>
                <input type="text" name="role1" id="role1">
                <br>
                <label for="role2">Role 2:</label>
                <input type="text" name="role2" id="role2">
                <br>
                <label for="power_matching">Power Matching:</label>
                <input type="checkbox" id="power_matching" name="power_matching">
                <br>
                <input type="submit" value="Create Draws">
            </form>
        </div>
    </div>

    <div>
        <button class="toggle-button">Release Draws</button>
        <div class="toggle-section">
            <form action="{{ url_for('release_draws') }}" method="POST">
                <label for="event_name">Event Name:</label>
                <select name="event_name" id="event_name" required>
                    {% for event in events %}
                        {% if event.is_ongoing %}
                            <option value="{{ event.name }}">{{ event.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <label for="round_name">Round:</label>
                <select name="round_name" id="round_name" required>
                    {% for round in rounds %}
                        <option value="{{ round.name }}" data-event="{{ round.event }}">{{ round.name }}- {{ round.event}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Release Draws">
            </form>
        </div>
    </div>

    <div>
        <button class="toggle-button">Release Motions</button>
        <div class="toggle-section">
            <form action="{{ url_for('release_motions') }}" method="POST">
                <label for="event_name">Event Name:</label>
                <select name="event_name" id="event_name" required>
                    {% for event in events %}
                        {% if event.is_ongoing %}
                            <option value="{{ event.name }}">{{ event.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <label for="round_name">Round:</label>
                <select name="round_name" id="round_name" required>
                    {% for round in rounds %}
                        <option value="{{ round.name }}" data-event="{{ round.event }}">{{ round.name }}- {{ round.event}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Release Motions">
            </form>
        </div>
    </div>

    <div>
        <button class="toggle-button">Release Adjudicator Forms</button>
        <div class="toggle-section">
            <form action="{{ url_for('release_adjudicator_forms') }}" method="POST">
                <label for="event_name">Event Name:</label>
                <select name="event_name" id="event_name" required>
                    {% for event in events %}
                        {% if event.is_ongoing %}
                            <option value="{{ event.name }}">{{ event.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <label for="round_name">Round:</label>
                <select name="round_name" id="round_name" required>
                    {% for adj_form in adj_forms %}
                        {% if adj_form.is_created %}
                            <option value="{{ adj_form.round }}">{{ adj_form.round }}- {{ adj_form.event}}</option>
                        {% endif %}                  
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Release Adjudicator Forms">
            </form>
        </div>
    </div>

    <div>
        <button class="toggle-button">Release Results</button>
        <div class="toggle-section">
            <form action="{{ url_for('release_results') }}" method="POST">
                <label for="event_name">Event Name:</label>
                <select name="event_name" id="event_name" required>
                    {% for event in events %}
                        {% if event.is_ongoing %}
                            <option value="{{ event.name }}">{{ event.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <label for="round_name">Round:</label>
                <select name="round_name" id="round_name" required>
                    {% for round in rounds %}
                        <option value="{{ round.name }}" data-event="{{ round.event }}">{{ round.name }}- {{ round.event}}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Release Results">
            </form>
        </div>
    </div>

    <div>
        <button class="toggle-button">Release Institutional Leaderboard</button>
        <div class="toggle-section">
            <form action="{{ url_for('release_institutional_leaderboard') }}" method="POST">
                <label for="event_name">Event Name:</label>
                <select name="event_name" id="event_name" required>
                    {% for event in events %}
                        {% if event.is_ongoing %}
                            <option value="{{ event.name }}">{{ event.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Release Institutional Leaderboard">
            </form>
        </div>
    </div>

    <div>
        <button class="toggle-button">Release Individual Leaderboard</button>
        <div class="toggle-section">
            <form action="{{ url_for('release_individual_leaderboard') }}" method="POST">
                <label for="event_name">Event Name:</label>
                <select name="event_name" id="event_name" required>
                    {% for event in events %}
                        {% if event.is_ongoing %}
                            <option value="{{ event.name }}">{{ event.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Release Individual Leaderboard">
            </form>
        </div>
    </div>

    <div>
        <button class="toggle-button">End Event</button>
        <div class="toggle-section">
            <form action="{{ url_for('end_event') }}" method="POST">
                <label for="event_name">Event Name:</label>
                <select name="event_name" id="event_name" required>
                    {% for event in events %}
                        {% if event.is_ongoing %}
                            <option value="{{ event.name }}">{{ event.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="End Event">
            </form>
        </div>
    </div>
    
    <script>
        $(document).ready(function() {
            $('.toggle-button').click(function() {
            var section = $(this).parent().find('.toggle-section');
            section.toggle();
            });
          });
          function addField() {
            var criteriaField = document.createElement("input");
            criteriaField.setAttribute("type", "text");
            criteriaField.setAttribute("name", "criteria[]");

            var maxScoresField = document.createElement("input");
            maxScoresField.setAttribute("type", "text");
            maxScoresField.setAttribute("name", "max_scores[]");

            var br = document.createElement("br");

            var form = document.querySelector("form");
            form.insertBefore(criteriaField, form.lastElementChild);
            form.insertBefore(maxScoresField, form.lastElementChild);
            form.insertBefore(br, form.lastElementChild);
        }
    </script>
{% endblock %}
