:root {
  --primary-color: #9e0e21;
  --background-color: #efe6d5;
  --secondary-color: white;
  --text-color: black;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.form-group {
  margin: 20px;
}

label {
  font-weight: bold;
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #840c1a;
}

.header {
  background-color: var(--primary-color);
  color: var(--background-color);
  height: 60px;
  line-height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.header .logo {
  margin-right: 10px;
}

.header .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--background-color);
}

.header .logo img {
  height: 30px;
}

.header h1 {
  flex-grow: 1;
  margin: 0;
  text-decoration: none;
  color: var(--background-color);
}

.header h1:hover {
  text-decoration: none;
  color: var(--background-color);
}

.header .login a {
  text-decoration: none;
  color: var(--background-color);
}

.header .login a:hover {
  color: var(--background-color);
}

.header a {
  color: var(--background-color);
  text-decoration: none;
}

.body {
  text-align: left;
  padding: 0 33.33%;
  margin-top: 40px;
}

.dropdown {
  position: relative;
  background-color: white;
  display: inline-block;
  justify-content: space-between;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  flex-grow: 1;
}

.dropbtn {
  border: none;
  cursor: pointer;
  width: 100%; 
  margin: 0%;
  background-color: white;
  color: black;
  font-size: 17px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd; 
}

.sub-dropdown {
  position: relative;
  display: inline-block;
}

.sub-dropbtn {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 100%;
  top: 0;
  margin-top: 5px;
}

.sub-dropdown:hover .sub-dropdown-content {
  display: block;
}

.start-event-btn {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}
.start-event-btn a {
  text-decoration: none;
}

.start-event-btn:hover {
  background-color: #840c1a;
}

.form-group {
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin-bottom: 10px;
}

input[type="submit"],
button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #840c1a;
}


.logout-page {
  padding-top: 80px; 
}

.logout-page .button {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 30%; 
  height: 40px; 
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-page .button:hover {
  background-color: #840c1a;
}

.event-list h3{
  margin-top: 40px;
}

.body form{
  margin: 10px;
}

button{
  margin: 10px;
}

.manage-button:hover{
  background-color: #840c1a;
}

.round-button{
  width: 60%;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  flex-grow: 1;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


table {
  border-collapse: collapse;
  margin-left: 10%;
  margin-top: 30px;
  width: 80%
}
th, td {
  text-align: center;
  padding: 8px;
  border: 1px solid #9e0e21;
}

.motion-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.motion-item {
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}