@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
    --primary-color: #9e0e21;
    --background-color: #efe6d5;
    --secondary-color: white;
    --text-color: black;
  }
body {
    font-family: 'Poppins', sans-serif;
    background: #efe6d5;
    text-align: center;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #9e0e21;
    padding: 20px;
    overflow-y: auto;
    color: white;
    text-decoration: none;
  }
  
  #sidebar .sidebar-header {
    margin-bottom: 20px;
  }
  
  #sidebar .sidebar-header h3 {
    margin: 0;
    color: white;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #840c1a;
}

#sidebar ul p {
    color: white;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}

#sidebar ul li a:hover {
    color: #840c1a;
    background: #efe6d5;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #9e0e21;
    background: #efe6d5;
}

  #content {
    width: calc(100%-200px);
    margin-left: 200px;
  }

.toggle-section {
    display: none;
    margin-top: 10px;
}

.toggle-button {
    width: 50%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #9e0e21;
    color: white;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #840c1a;
}

.toggle-section input[type="number"],
.toggle-section select,
.toggle-section input[type="text"] {
    width: 40%;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.toggle-section input[type="submit"] {
    background-color: #9e0e21;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 30px;
}

.header {
    background-color: var(--primary-color);
    color: var(--background-color);
    height: 80px;
    line-height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
  }
  
  .header .logo {
    margin-right: 10px;
  }
  
  .header .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--background-color);
  }
  
  .header .logo img {
    height: 30px;
  }
  
  .header h1 {
    flex-grow: 1;
    margin: 0;
    text-decoration: none;
    color: var(--background-color);
  }
  
  .header h1:hover {
    text-decoration: none;
    color: var(--background-color);
  }
  
  .header .login a {
    text-decoration: none;
    color: var(--background-color);
  }
  
  .header .login a:hover {
    color: var(--background-color);
  }
  
  .header a {
    color: var(--background-color);
    text-decoration: none;
  }
  