<!DOCTYPE html>
<html>
<head>
    <title>{{ event.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="vvs_logo.png" alt="VVS Logo">
            </a>
        </div>
        <h1>Vasant Valley School</h1>
        <div class="login">
        </div>
    </div>
     <div class="navbar">
        {% if participants %}
            <a href="{{ url_for('participants', event_id=event.id) }}">Participants</a>
        {% endif %}
        {% if adjudicators %}
            <a href="{{ url_for('adjudicators', event_id=event.id) }}">Adjudicators</a>
        {% endif %}
        {% if rounds and event.is_umbrella_event == False %}
            <div class="dropdown">
                <button class="dropbtn">Rounds</button>
                <div class="dropdown-content">
                    {% for round in rounds %}
                        {% if round.is_released %}
                          <a href="{{ url_for('round_details', event_id = event.id, round_id=round.id) }}">{{ round.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if rounds and event.is_umbrella_event == True %}
            <div class="dropdown">
                <button class="dropbtn">Events</button>
                <div class="dropdown-content">
                    {% for round in rounds %}
                        {% if round.is_released %}
                          <a href="{{ url_for('round_details', event_id = event.id, round_id=round.id) }}">{{ round.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if individual_leaderboard and individual_leaderboard[0].leaderboard_released == True %}
            <a href="{{ url_for('individual_leaderboard', event_id=event.id) }}">Individual Leaderboard</a>
        {% endif %}
        {% if institutional_leaderboard and institutional_leaderboard[0].leaderboard_released == True %}
            <a href="{{ url_for('institutional_leaderboard', event_id=event.id) }}">Institutional Leaderboard</a>
        {% endif %}
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                {% if event.is_umbrella_event == True %}
                    <th>Event</th>
                {% endif %}
                <th>Institute</th>
                {% if participants[0].team != None and participants[0].team != participants[0].institute %}
                    <th>Teams</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in participants %}
                <tr>
                    <td>{{ row.name }}</td>
                    {% if event.is_umbrella_event == True %}
                        <td>{{ row.sub_event }}</td>
                    {% endif %}
                    <td>{{ row.institute }}</td>
                    {% if row.team != None and row.team != row.institute%}
                        <td>{{ row.team }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>